@model ShipTo.Core.Entities.ShippingOrder
<!-- Add & Update modal -->
<div class="modal fade" id="Modal_AddUpdate" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <form id="form_AddUpdate">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">

                            <input id="ActionType" name="ActionType" type="hidden" value="0" />
                            <input id="Id" name="Id" type="hidden" value="0" />
                            <input id="ReloadActionURL" name="ReloadActionURL" type="hidden" value="0" />

                            <input id="OrderNumber" name="OrderNumber" type="hidden" />
                            <input id="BulkId" name="BulkId" type="hidden" />
                            <input id="OrderDate" name="OrderDate" type="hidden" />

                            <input id="CreatedBy" name="CreatedBy" type="hidden" />
                            <input id="ModefiedBy" name="ModefiedBy" type="hidden" />
                            <input id="CreatedDate" name="CreatedDate" type="hidden" />
                            <input id="ModefiedDate" name="ModefiedDate" type="hidden" />
 
                            <div class="row"  >
                                <div class="form-group col-md-4 Readonly">
                                    <label asp-for="OrderNumber" class="control-label "></label>
                                    <label id="lbl_OrderNumber" class="form-control" />
                                    @*<span asp-validation-for="OrderNumber" class="text-danger"></span>*@
                                </div>
                                <div class="form-group col-md-4 Readonly">
                                    <label asp-for="BulkId" class="control-label"></label>
                                    <label id="lbl_BulkId" class="form-control" />
                                    @*<span asp-validation-for="BulkId" class="text-danger"></span>*@
                                </div>
                                <div class="form-group col-md-4 Readonly">
                                    <label asp-for="OrderDate" class="control-label"></label>
                                    <label id="lbl_OrderDate" class="form-control" />
                                    @*<span asp-validation-for="OrderDate" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label asp-for="ShippingOrderBulkName" class="control-label"></label>
                                    <input asp-for="ShippingOrderBulkName" class="form-control" />
                                    <span asp-validation-for="ShippingOrderBulkName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="ClientName" class="control-label required"></label>
                                    @*<textarea asp-for="ClientName" class="form-control" rows="1"></textarea>*@
                                    @Html.TextAreaFor(m => m.ClientName, new { rows = "1", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ClientName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="ClientPhoneNumber" class="control-label required"></label>
                                    <input asp-for="ClientPhoneNumber" class="form-control" />
                                    <span asp-validation-for="ClientPhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label asp-for="Direction" class="control-label"></label>
                                    <input asp-for="Direction" class="form-control" />
                                    <span asp-validation-for="Direction" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="Governorate" class="control-label"></label>
                                    <input asp-for="Governorate" class="form-control" />
                                    <span asp-validation-for="Governorate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="Address" class="control-label required"></label>
                                    @Html.TextAreaFor(m => m.Address, new { rows = "1", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label asp-for="ShipperId" class="control-label required"></label>
                                    <select asp-for="ShipperId" class="form-control" asp-items="ViewBag.ShipperId"></select>
                                    <span asp-validation-for="ShipperId" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="OrderDetails" class="control-label required"></label>
                                    @Html.TextAreaFor(m => m.OrderDetails, new { rows = "1", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OrderDetails, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="OrderPiecesCount" class="control-label"></label>
                                    <input asp-for="OrderPiecesCount" class="form-control" />
                                    <span asp-validation-for="OrderPiecesCount" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label asp-for="OrderTotalPrice" class="control-label required"></label>
                                    <input asp-for="OrderTotalPrice" class="form-control" />
                                    <span asp-validation-for="OrderTotalPrice" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="DeliveryPrice" class="control-label "></label>
                                    <input asp-for="DeliveryPrice" class="form-control" />
                                    <span asp-validation-for="DeliveryPrice" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="ShippingPrice" class="control-label required"></label>
                                    <input asp-for="ShippingPrice" class="form-control" />
                                    <span asp-validation-for="ShippingPrice" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="OrderNetPrice" class="control-label required"></label>
                                    <input asp-for="OrderNetPrice" class="form-control" />
                                    <span asp-validation-for="OrderNetPrice" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label asp-for="DeliveryStatusId" class="control-label required"></label>
                                    <select asp-for="DeliveryStatusId" class="form-control" asp-items="ViewBag.DeliveryStatusId"></select>
                                    <span asp-validation-for="DeliveryStatusId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label asp-for="DeliveryStatusReason" class="control-label"></label>
                                    <textarea id="DeliveryStatusReason" name="DeliveryStatusReason" class="form-control" rows="1"></textarea>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="DeliveryDate" class="control-label"></label>
                                    <input id="DeliveryDate" name="DeliveryDate" class="form-control txtDate" />
                                    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="CarrierId" class="control-label"></label>
                                    <select asp-for="CarrierId" class="form-control" asp-items="ViewBag.CarrierId"></select>
                                    <span asp-validation-for="CarrierId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label asp-for="Notes" class="control-label"></label>
                                    <textarea id="Notes" name="Notes" class="form-control" rows="1"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="PostForm_AddUpdate()" class="btn btn-primary modalFooterBtn">&nbsp;&nbsp; <i class="fa fa-fw fa-save"></i> حـفـظ  &nbsp; &nbsp; </button>
                    @*<button type="reset" class="btn btn-default modalFooterBtn" >إلغاء</button>*@
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>

    var ShippingOrderAddUpdatePostURL = '@Url.Action("AddUpdate", "ShippingOrder")';
    function PostForm_AddUpdate() {

        if ($("#form_AddUpdate").valid()) {
            var ProcessName = document.getElementById("Id").value == 0 ? AjaxActionNameArEnum.Add : document.getElementById("Id").value > 0 ? AjaxActionNameArEnum.Update : ""
            var ReloadActionURL = document.getElementById("ReloadActionURL").value;
            var form2 = document.getElementById("form_AddUpdate");
            var formData = new FormData(form2);
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddUpdate", "ShippingOrder")',
                processData: false,
                contentType: false,
                data: formData, // serializes the form's elements.
                success: function (response) {
                    if (response.status == AjaxResponseStatusEnum.Success) {
                        toastr.success("تم " + ProcessName + " بنجاح");
                        ReLoadDataTableWithSearchParam('tbl_Items', ReloadActionURL)
                        if (document.getElementById("ActionType").value == AjaxActionNameEnEnum.Add) { document.getElementById('form_AddUpdate').reset(); }
                        if (document.getElementById("ActionType").value == AjaxActionNameEnEnum.Update) { $('.modal').modal('hide'); }
                    } else {
                        toastr.error("فشل " + ProcessName + " :" + response.errorMessage);
                    }
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                    toastr.error("حدث خطأ أثناء إرسال البيانات: " + response.errorMessage);
                }

            });
        }
    }



</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
