@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397830
*@
@{
}
@model ShipTo.Core.VMs.ShippingOrderAddFromExcelVM

@{
    ViewData["Title"] = "إضافة من إكسل";
}


<div class="row">
    <form id="form_AddFromExcel" method="post" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group col-sm-3" id="div_ShippingOrderBulkName">
                    <label asp-for="ShippingOrderBulkName" class="control-label"></label>
                    <input asp-for="ShippingOrderBulkName" class="form-control" />
                </div>
                <div class="form-group col-sm-3" id="div_ShipperId">
                    <label asp-for="ShipperId" class="control-label required"></label>
                    <div class="form-inline">
                        <select asp-for="ShipperId" class="form-control" style="width: 80%; display: unset; "></select>
                        <a onclick="setModelAddUpdate('form_AddUpdate_Shipper', 0, '@Url.Action("GetAll", "Shipper")', true, 'ShipperId', 'شركة شحن')" style=" padding: 6px 1px;" class="btn btn-success" data-toggle="modal" data-target="#Modal_AddUpdate_Shipper"> <i class="fa fa-fw fa-plus"></i> </a>
                    </div>
                    <span asp-validation-for="ShipperId" class="text-danger"></span>

                </div>
                @*<div class="form-group col-sm-2" id="div_DeliveryStatusId">
                        <label asp-for="DeliveryStatusId" class="control-label required"></label>
                        <select asp-for="DeliveryStatusId" class="form-control">
                        </select>
                    </div>*@

                @*<div class="form-group col-sm-3" id="div_CarrierId">
                        <label asp-for="CarrierId" class="control-label"></label>
                        <select asp-for="CarrierId" class="form-control">
                        </select>
                    </div>*@

                <div class="form-group col-sm-2" id="div_DeliveryDate">
                    <label asp-for="DeliveryDate" class="control-label required"></label>
                    <input asp-for="DeliveryDate" type="" class="form-control txtDate">
                    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">  تحميل البيانات من ملف أكسل </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="div_ShippingExcelFile">
                        <div class="form-group col-sm-3 required">
                            <label class="control-label"> اختر الملف المطلوب تحميل البيانات منه</label>
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="file" id="if_ShippingExcelFile" asp-for="ShippingExcelFile" class="form-control" accept=".xlx, .xlsx">
                            <span asp-validation-for="ShippingExcelFile" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" @*id="ExcelFileDev"*@>
                    <div id="div_ClientNameColName">
                        <div class="form-group col-sm-2 required">
                            <label asp-for="ClientNameColName" class="control-label"></label>
                        </div>
                        <div class="form-group col-sm-3">
                            <select asp-for="ClientNameColName" class="form-control"> </select>
                            <span asp-validation-for="ClientNameColName" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="div_ClientPhoneNumberColName">
                        <div class="form-group col-sm-2 required">
                            <label asp-for="ClientPhoneNumberColName" class="control-label"></label>
                        </div>
                        <div class="form-group col-sm-3">
                            <select asp-for="ClientPhoneNumberColName" class="form-control"> </select>
                            <span asp-validation-for="ClientPhoneNumberColName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="div_DirectionColName">
                        <div class="form-group col-sm-2">
                            <label asp-for="DirectionColName" class="control-label"></label>
                        </div>
                        <div class="form-group col-sm-3">
                            <select asp-for="DirectionColName" class="form-control"> </select>
                        </div>
                    </div>
                    <div id="div_GovernorateColName">
                        <div class="form-group col-sm-2">
                            <label asp-for="GovernorateColName" class="control-label"></label>
                        </div>
                        <div class="form-group col-sm-3">
                            <select asp-for="GovernorateColName" class="form-control"> </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="div_AddressColName">
                        <div class="form-group col-sm-2">
                            <label asp-for="AddressColName" class="control-label required"></label>
                        </div>
                        <div class="form-group col-sm-3">
                            <select asp-for="AddressColName" class="form-control"> </select>
                            <span asp-validation-for="AddressColName" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="div_OrderDetailsColName">
                        <div class="form-group col-sm-2">
                            <label asp-for="OrderDetailsColName" class="control-label required"></label>
                        </div>
                        <div class="form-group col-sm-3">
                            <select asp-for="OrderDetailsColName" class="form-control"> </select>
                            <span asp-validation-for="OrderDetailsColName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="div_OrderPiecesCountColName">
                        <div class="form-group col-sm-2">
                            <label asp-for="OrderPiecesCountColName" class="control-label"></label>
                        </div>
                        <div class="form-group col-sm-3">
                            <select asp-for="OrderPiecesCountColName" class="form-control"> </select>
                            <span asp-validation-for="OrderPiecesCountColName" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="div_OrderTotalPriceColName">
                        <div class="form-group col-sm-2">
                            <label asp-for="OrderTotalPriceColName" class="control-label required"></label>
                        </div>
                        <div class="form-group col-sm-3">
                            <select asp-for="OrderTotalPriceColName" class="form-control"> </select>
                            <span asp-validation-for="OrderTotalPriceColName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="form-group col-sm-2">
                            <label asp-for="DeliveryPriceColName" class="control-label"></label>
                        </div>
                        <div class="form-group col-sm-3">
                            <select asp-for="CarrierId" class="form-control"> </select>
                        </div>*@
                    <div id="div_ShippingPriceColName">
                        <div class="form-group col-sm-2">
                            <label asp-for="ShippingPriceColName" class="control-label required"></label>
                        </div>
                        <div class="form-group col-sm-3">
                            <select asp-for="ShippingPriceColName" class="form-control"> </select>
                            <span asp-validation-for="ShippingPriceColName" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="div_OrderNetPriceColName">
                        <div class="form-group col-sm-2">
                            <label asp-for="OrderNetPriceColName" class="control-label required"></label>
                        </div>
                        <div class="form-group col-sm-3">
                            <select asp-for="OrderNetPriceColName" class="form-control"> </select>
                            <span asp-validation-for="OrderNetPriceColName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                        <div class="form-group col-sm-2">
                            <label asp-for="DeliveryStatusReasonColName" class="control-label"></label>
                        </div>
                        <div class="form-group col-sm-8">
                            <textarea id="Phone2" name="Phone" rows="2" class="form-control txtDate"></textarea>
                        </div>
                    </div>*@
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label asp-for="NotesColName" class="control-label"></label>
                    </div>
                    <div class="form-group col-sm-3">
                        <select asp-for="NotesColName" class="form-control"> </select>
                    </div>
                </div>

            </div>

        </div>

        <div class="modal-footer">
            <button type="button" onclick="PostForm_AddFromExcel()" class="btn btn-primary modalFooterToRight">&nbsp;&nbsp; &nbsp;&nbsp;   حـفـظ <i class="fa fa-fw fa-save"></i> &nbsp; &nbsp;&nbsp; &nbsp; </button>
            @*<button type="reset" class="btn btn-default modalFooterToRight" >إلغاء</button>*@
            <button type="button" onclick="ClearForm()" class="btn btn-default modalFooterToRight">&nbsp;&nbsp; جديد&nbsp;&nbsp;</button>
            <br />
            <br />
            <br />
            <span id="sp_ExcelValidationMessage" class="text-danger modalFooterToRight"></span>
        </div>
    </form>
</div>
<partial name="../Shipper/_AddUpdate.cshtml" model="new Core.Entities.Shipper()" />


<script>



    $(document).ready(function () {
        InitialTextBoxDate();
        $.validator.unobtrusive.parse($("#form_AddFromExcel"));
        var getShippersURL = '@Url.Action("GetAll", "Shipper")';
        PopulateDDL('ShipperId', getShippersURL);
         @*var getShippersURL = '@Url.Action("GetAll", "DeliveryStatus")';
        PopulateDDL('DeliveryStatusId', getShippersURL);*@
         var getShippersURL = '@Url.Action("GetAll", "Carrier")';
        PopulateDDL('CarrierId', getShippersURL);

    });

    $('#if_ShippingExcelFile').change(function () {
          var data = new FormData();
        var files = $("#if_ShippingExcelFile").get(0).files;

            if (files.length > 0) {
                data.append("shippingExcelFile", files[0]);
            }
           /* ShowSpinner();*/
            var ajaxRequest = $.ajax({
                type: "POST",
                url:  '@Url.Action("GetExcelFileColumns", "ShippingOrder")',
                contentType: false,
                processData: false,
                data: data,
                success: function (fileResponse) {
                  /*  HideSpinner();*/
                    if (fileResponse.status == AjaxResponseStatusEnum.Success) {

                        PopulateDDLFromList('ClientNameColName', fileResponse.dataObj);
                        PopulateDDLFromList('ClientPhoneNumberColName', fileResponse.dataObj);
                        PopulateDDLFromList('DirectionColName', fileResponse.dataObj);
                        PopulateDDLFromList('GovernorateColName', fileResponse.dataObj);
                        PopulateDDLFromList('AddressColName', fileResponse.dataObj);
                        PopulateDDLFromList('OrderDetailsColName', fileResponse.dataObj);
                        PopulateDDLFromList('OrderPiecesCountColName', fileResponse.dataObj);
                        PopulateDDLFromList('OrderTotalPriceColName', fileResponse.dataObj);
                        PopulateDDLFromList('ShippingPriceColName', fileResponse.dataObj);
                        PopulateDDLFromList('OrderNetPriceColName', fileResponse.dataObj);
                        PopulateDDLFromList('NotesColName', fileResponse.dataObj);

                    } else {
                        toastr.error(fileResponse.errorMessage);
                    }
                    /* ClearForm();*/
                    document.getElementById("sp_ExcelValidationMessage").innerHTML = '';
                },
                error: function (errorResponse) {
                    toastr.error("حدث خطأ أثناء إرسال البيانات");
                }
            });

    });



    function PostForm_AddFromExcel() {
        //$('#form_AddFromExcel').onsubmit(function (formAddFromExcel23) {
        //$(document).on("submit", "#form_AddFromExcel", function (e) {
        //    e.preventDefault(); // avoid to execute the actual submit of the form.
            ////e.preventDefault(); // avoid to execute the actual submit of the form.
            //e.preventDefault(); // avoid to execute the actual submit of the form.
            //e.stopImmediatePropagation()
            //var form = $(this);
        /*  if (ValidateForm()) {*/
       /* $('#form_AddFromExcel').validate.form();*/

        //var form12 = $(this).closest('form_AddFromExcel');
      /*  $form.validate().form();*/

        if ($("#form_AddFromExcel").valid()) {

        var form = document.getElementById("form_AddFromExcel");
        var data1 = new FormData(form);
        var files = $("#if_ShippingExcelFile").get(0).files;

        if (files.length > 0) {
            data1.append("shippingExcelFile", files[0]);
            }
            var PostURL = '@Url.Action("AddFromExcel", "ShippingOrder")'
            ShowSpinner()
            $.ajax({
                type: "POST",
                url: PostURL,
                processData: false,
                contentType: false,
                data: data1, // serializes the form's elements.
                success: function (addFromExcelResponse) {
                    if (addFromExcelResponse.status == AjaxResponseStatusEnum.Success) {
                        toastr.success("تم بنجاح");
                        ClearForm();
                        //ReLoadDataTable('tbl_Items')
                        //if (document.getElementById("ActionType").value == AjaxActionNameEnEnum.Add) { document.getElementById(FormId).reset(); }
                        //if (document.getElementById("ActionType").value == AjaxActionNameEnEnum.Update) { $('.modal').modal('hide'); }
                    } else {
                        toastr.error("فشل في الإضافة" /*+ " :" + addFromExcelResponse.errorMessage*/);
                        document.getElementById("sp_ExcelValidationMessage").innerHTML = "يوجد أخطاء فى بيانات الملف" + "<br/>"+ addFromExcelResponse.errorMessage;
                    }
                    console.log(addFromExcelResponse);
                },
                error: function (error) {
                    console.log(error);
                    toastr.error("حدث خطأ أثناء إرسال البيانات: " + addFromExcelResponse.errorMessage);
                }
            });
        }
        HideSpinner()
          /*  });*/
    }


        function ClearForm() {
            document.getElementById("form_AddFromExcel").reset();
            document.getElementById("sp_ExcelValidationMessage").innerHTML = '';
         }

    var input = document.getElementById('if_ShippingExcelFile');

    input.onclick = function () {
        this.value = null;
        EmptyDDL('ClientNameColName');
        EmptyDDL('ClientPhoneNumberColName');
        EmptyDDL('DirectionColName');
        EmptyDDL('GovernorateColName');
        EmptyDDL('AddressColName');
        EmptyDDL('OrderDetailsColName');
        EmptyDDL('OrderPiecesCountColName');
        EmptyDDL('OrderTotalPriceColName');
        EmptyDDL('ShippingPriceColName');
        EmptyDDL('OrderNetPriceColName');
        EmptyDDL('NotesColName');
    };

</script>


@section Scripts {
    <partial name="../Shared/_ValidationScriptsPartial" />
}


